# Assume there exists a dataset consisting of the following files.
# Networks: source_sub_network.txt target_sub_network.txt
# Attributes:
#              Name:
#                        source_user_names.txt target_user_names.txt
#                        source_screen_names.txt target_screen_names.txt
#              Image:
#                        images/[source_prefix]/ images/[target_prefix]/
[data]
path=./ins_fb_core/

train_test_paths=["fold_0"]#, "fold_1", "fold_2", "fold_3", "fold_4"]
query_path=fold_0

source_prefix=ins
target_prefix=fb

source_col=0
target_col=1


[predicate_name]

concatenate=True
preprocess=True
method=tfidf
screen_name_exist=True




[predicate_image]
exist=False
method=vgg16
identical_threshold=15.

[dispy]
ip=10.0.109.76
port=51348
remote_path=/home/weixie/data/remote

[cosine_embedding]
pass=True
n_gpu=4
n_dim=1024 
n_iter=500

learning_rate=1.0

batch_size=32*1024
partition_path=/home/weixie/data/part


[triplet_embedding]
supervised=False
bias=True

learning_rate_f=0.05
learning_rate_a=5.
learning_rate_n=5.

snapshot=False
snapshot_gap=3

n_iter=150
warm_up_iter=0

batch_size=128
user_dim=1024
nce_sampling=2048


[debug]
flag=True



















